table {
	width:100%;
	padding: 0;
	border: 1px solid black;
	table-layout: fixed;
}

.container {
	border-width: 0;
	margin: 0;
}

.hcenter {
	margin-left: auto;
	margin-right: auto;
}

#navbar {
	padding: 0;
	margin:0;
	background-color: white;
	border-top-width: thin;
	border-bottom-width: thin;
	border-left-width: 0;
	border-right-width: 0;
}

#navbar td {
	width:20%;
	margin-top: 0;
	margin-bottom: 0;
}

#navbar tr {
	margin:0;
	padding:0;
	border-style:none;
}

.spacer {
	border-width: 0;
	margin: 0;
	padding: 1em;
}

.aboutMeSide{
	width:5%;
}
.aboutMeCenter{
	width:90%;
}

#home {
	width:100%;
    height:100%;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	padding: 0;
	background-color: cyan;
	border-width:0;
}

#linksAndContact td {
	width:50%;
	padding: 0
}

.stuckToTop {
	position: fixed;
	left:0;
	top:0;
	z-index:100;
	border-top:0;
}