table {
	table-layout: fixed;
	width:100%;
	padding: 0;
	border: 1px solid black;
}

.hcenter {
	margin-left: auto;
	margin-right: auto;
}
.stuckToTop {
	position: fixed;
	left:0;
	top:0;
	z-index:9999;
	border-top:0;
}

.slick-prev {
    left: 0px;
    background-color: gray;
}
.slick-next {
    right: 0px;
    background-color: gray;
}

.container {
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    padding: 20px;
    top: 20px;
    -webkit-box-shadow: 0 2px 2px 1px rgba(0,0,0,0.2);
    box-shadow: 0 2px 2px 1px rgba(0,0,0,0.2);
}
.spacer {
	border-width: 0;
	margin: 0;
	padding: 1em;
}

.aboutMeSide{
	width:5%;
	padding-left: auto;
	padding-right: auto;
}
.aboutMeCenter{
	width:90%;
}

.navbarSpacer {
	border-width:0;
	margin:0;
	padding:0;
	width: 25%;
}

.navbarButton:hover {
	background-color: rgb(100,180,180) !important;
	cursor: pointer;
}

.bigbox {
	width:80%;
}

#navbar {
	padding: 0;
	margin:0;
	border-top-width: thin;
	border-bottom-width: thin;
	border-left-width: 0;
	border-right-width: 0;
	border-color: rgba(0,0,0,0);
	font-size: 1.5em;
}

#navbar td {
	margin-top: 0;
	margin-bottom: 0;
	text-align: center;
	border-color: rgba(0,0,0,0);
}

#navbar tr {
	margin:0;
	padding:0;
	border-style:none;
}
#navbarHomeButton {
    width: 0%;
}
#navbarHomeButton img {
    opacity: 0;
}

#skillsTable{
	margin-right: auto;
	margin-left: auto;
}

#home {
	width:100%;
    height:100%;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	padding: 0;
	background-color: none;
	border-width:0;
	margin:0;
}

#home > h1 {
	vertical-align: middle;
}

#home * {
	font-weight: bold;
}

#homeBackground{
	padding: 0;
	border-width:0;
	margin:0;
	width:100%;
    height:100%;
    position: fixed;
	left:0;
	top:0;

	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-image: url("../images/OceanCover.jpg");
	background-position: center bottom;
	z-index:-9999;
}


#linksAndContact{
	padding:0;
}

#contactFormly div{
	border-style:none;
	border-width: 0;
	padding: 0;
}

#linksAndDownloads{
	margin:0;
	padding:0;
}

#linksAndDownloads table{
	margin:0;
	padding:0;
	width:100%;
	border-width: 0;
}

#linksAndDownloads tr {
	border-width: 0;
}

#linksAndDownloads td{
	margin:0;
	padding:0;
	width:33.33333333333333%;
	border-width: 0;
}

#linksAndDownloads a{
	display:block;
	margin-left:auto;
	margin-right:auto;
}

#linksAndDownloads a > div{
	text-align: center;
	margin: 0 auto;
	border-width:0;
	padding:0;
}

#linksAndDownloads a>img{
	display:block;
	margin:auto;
}