<div>
	<!--home-->
<div>
<div>
	<a href="">About</a>
	<div>
		<!--dropdown-->
		Experience
	</div>
	<a href=""><!--home button-->
		<img src=""/>
	</a>
	<a href="">Links and Downloads</a>
	<a href="">Contact Me</a>
<div>
<div>
	<!--about me-->
<div>
<div>
	<!--work and experiences-->
<div>
<div>
	<!--resume + links-->
	<!--resume pop-up-->
	<a href=""><!--resume DL link--></a>
	<a href="">
		<!--Linkedin-->
		<img src=""/>
	</a>
<div>
<div>
	<!--contact me + powered by heroku, MEAN stack, etc.-->
	<form id="contact_form" action="#" method="POST" enctype="multipart/form-data">
		<div class="row">
			<label for="name">Name:</label><br />
			<input id="name" class="input" name="name" type="text" value="" size="30" /><br />
		</div>
		<div class="row">
			<label for="email">Email:</label><br />
			<input id="email" class="input" name="email" type="text" value="" size="30" /><br />
		</div>
		<div class="row">
			<label for="message">Your message:</label><br />
			<textarea id="message" class="input" name="message" rows="7" cols="30"></textarea><br />
		</div>
		<input id="submit_button" type="submit" value="Send email" />
	</form>	
<div>