<div>
	<div>
			{{ test }}
	</div>
	<p>hello</p>
	
	<div>
		<!--home-->
		<h1>Welcome!</h1>
		<h1>Andrew Tsai here.</h1>
		<h2>What would you like to know?</h2>
	</div>
	<div>
		<a href="">About Me</a>
		<div>
			<!--dropdown-->
			Experience
		</div>
		<a href=""><!--home button-->
			<img src=""/>
		</a>
		<a href="">Links and Downloads</a>
		<a href="">Contact Me</a>
	</div>
	<div>
		About Me Section
		<!--about me-->
		<div>
			<!--likes + dislikes, or "Here are a few of my favorite things"
				a.k.a. left panel-->
			<h3>A few of my favorite things</h3>
		</div>
		<div> <!--center panel-->
			<img src=""/> <!--picture of me-->
			<h3>What makes me tick</h3>
			<p><!--blurb--></p>
		</div>
		<div> <!--right panel-->
			<!--skills bar graph-->
			<h3>Skills</h3>
		</div>
	</div>
	<div>
		work section
		<!--work and experiences-->
		<h3>Workplace</h3>
		<h4>start - end</h4>
		<ul>
			<li>information</li>
		</ul>
	</div>
	<div>
		resume
		<!--resume + links-->
		<!--resume pop-up-->
		<a href=""><!--resume DL link-->Resume DL</a>
		<a href="">
			<!--Linkedin-->
			<img src=""/>
		</a>
	</div>
	<div>
		<!--contact me + powered by heroku, MEAN stack, etc.-->
		<form id="contact_form" action="#" method="POST" enctype="multipart/form-data">
			<div class="row">
				<label for="name">Name:</label><br />
				<input id="name" class="input" name="name" type="text" value="" size="30" /><br />
			</div>
			<div class="row">
				<label for="email">Email:</label><br />
				<input id="email" class="input" name="email" type="text" value="" size="30" /><br />
			</div>
			<div class="row">
				<label for="message">Your message:</label><br />
				<textarea id="message" class="input" name="message" rows="7" cols="30"></textarea><br />
			</div>
			<input id="submit_button" type="submit" value="Send" />
		</form>	
	</div>
</div>